$light-gray = #efefef
$dark-gray = #6e6e6e
$gray = #dbdbdb
$gray-text = #9e9e9e
$blue = #0080ff
$transparent-black = rgba(0, 0, 0, .8)

// link
$linkColor = #0089ff
$activeLinkColor = #f41224
$visitedLinkColor = #b40eb4
