$light-gray = #efefef
$gray = #dbdbdb
$gray-text = #9e9e9e
$blue = #0080ff
$transparent-black = rgba(0, 0, 0, .8)

// link
$linkColor = darken($blue, 10)
$activeLinkColor = #ff3600
$visitedLinkColor = desaturate($linkColor, 30)

