:host {
  display: block;
  position: relative;
  margin: var(--margin, 12px);
}

.field {
  border-radius: 4px;
  background: var(--white);
  padding: 6px 8px;
  display: flex;
  cursor: text;
}

.field-border {
  pointer-events: none;
  display: block;
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.field:hover .field-border {
  border-color: var(--light-gray);
}

.field-label {
  color: var(--dark-gray);
  margin-right: 6px;
}

.field input {
  background: none;
  width: 100%;
  font: inherit;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.field:not(:hover) input::-webkit-outer-spin-button,
.field:not(:hover) input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.field input:focus + .field-border {
  border-color: var(--accent);
  opacity: 1;
}

.field input.warning + .field-border {
  border-color: var(--warning);
  opacity: 1;
}

.field.danger .field-border {
  opacity: .5;
  border-color: var(--danger) !important;
}
