.item-list {
  height: 100%;
  overflow-y: auto;
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-list:empty::before {
  width: calc(100% - 128px);
  line-height: 1.4em;
  text-align: center;
  color: var(--dark-gray);
  margin: 64px auto;
  content: attr(data-empty-text);
  display: block;
}

.item-list > *:last-child {
  --border-size: 0;
}
