body, html
    height 100%
    overflow hidden
    -webkit-text-size-adjust none
    touch-action manipulation

body
    position fixed
    width 100%
    margin 0
    font $font-size 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif
    -webkit-tap-highlight-color transparent

#renderer
    position absolute
    top 0
    left 0
    user-select none
    touch-action none
