body, html
    height 100%

body
    margin 0
    overflow hidden
    font $font-size 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif
    background #444

#renderer
    user-select none
