#renderer
  will-change opacity

#background-image
  will-change transform

body.transition-zoomin-start
    #renderer
        opacity 0

    #markers
        opacity 0

body.transition-zoomin-end
    #markers
        opacity 1
        transition opacity .6s ease

    #renderer
        transition opacity .4s ease
        transition-delay .05s

    #background-image
        transition transform .4s ease
        transform scale(1.3)


body.transition-fadein-start
    #renderer
        opacity 0

body.transition-fadein-end
    #markers
        opacity 1
    #renderer
        transition opacity .5s ease

    #background-image
        transition transform .5s ease

